aioitertools
anthropic
dashscope
docstring_parser
filetype
json5
json_repair
mcp>=1.13
numpy
openai
python-datauri
opentelemetry-api>=1.39.0
opentelemetry-sdk>=1.39.0
opentelemetry-exporter-otlp>=1.39.0
opentelemetry-semantic-conventions>=0.60b0
python-socketio
shortuuid
tiktoken
sounddevice
sqlalchemy
python-frontmatter
aiofiles
flask
gunicorn
